body{
  background-color: rgb(255, 232, 188);
  font-family: "Gaegu";
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.top{
  font-family: "Gaegu";
  text-align: center;
  font-size: 100px;
  font-weight: 500;
}

.top:visited{
  text-decoration: none;
  color: black;
}

table td {
  width: 500px;
}

table{
  width: 90%;
  height: 10px;
}

.menu{
  background-color: rgb(255, 216, 145);
}

.button {
    background-color: rgb(255, 216, 145);
    border: none;
    color: black;
    padding: 0px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
  background-color: rgb(255, 196, 89);
}

.button1 {
    background-color: rgb(255, 216, 145);
    border: none;
    color: black;
    padding: 0px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1:hover{
  background-color: rgb(255, 196, 89);
}

.abttable th{
  text-align: left;
}

.blurb{
  font-size: 30px;
}
